.stylesforMobile {
    width: 100vw;
    background-color: none;
    height: 7vh;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

  
}

.styles{
    width: 100vw;
    background-color: none;
    height: 7vh;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}