.PageforDesktop {

    padding-top: 50px;
    padding-left: 250px;


}

.PageforMobile {
    padding-top: 60px;
    padding-bottom: 54px;
}

.PageforTablet {
    padding-top: 50px;
    padding-left: 150px;
}

